.container__footer{
    display: flex;
    background-color: #242F37;
    width: 100%;
    height: 200px;
    text-align: center;
    justify-content: center;
    list-style: none;
    align-items: center;
    
}
.social-midia{
    list-style: none;
    padding: 0;
    margin: 0; 
    height: 48px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #242F37;  
    
}

.social-midia > li {
    margin-right: 50px;

}

.social-midia > li > a {
    background-color: #242F37;
    color: #94be1f;
}