<div class="container__big-card" *ngIf="newsList.length > 0" >
    <div class="big-card__photo">
        <img [src]="newsList[numNews].urlToImage" [alt]="newsList[numNews].title" height="400px">
    </div>
    <div class="big-card__title">
        <h2><a [href]="'#'" [title]="newsList[numNews].title">{{newsList[numNews].title}}</a></h2>
    </div>
    <div class="big-card__description">
        <p>
            <a [href]="'#'" [title]="newsList[numNews].description">{{newsList[numNews].description}}</a>
        </p>
    </div>
</div>
