<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://tntsports.com.br/__export/1696876311749/sites/esporteinterativo/img/2023/10/09/messi_inter_miami_1.png_322164011.png" height="400px" >
    </div>
    <div class="big-card__title">
        <h1><a href="#"> MUNDIAL DE MARATONA EM CHICAGO</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">LOREM IPSUM DOLOR SIT, AMET CONSECTETUR ADIPISICING ELIT. OBCAECATI, 
                VITAE ILLUM? MAGNI, DUCIMUS AUT ALIQUAM QUAERAT QUIS SOLUTA DOLOR FACERE QUAS NEMO A OMMODI?
            </a>
        </p>
    </div>
</div>
