.blog__container-news{
    background-color: #ffffff;
    height: 200px; 
    margin-top: 8px;
    width: 95%;
    padding-top: 20px;
    padding-left: 20px; 
    transition: 0.5s;
}

.blog__container-news:hover{
    background-color: #ffffff; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.news-title > h1{
    font-weight: 900;
    background-color: rgb(255, 255, 255);
}

.author {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
}
.author > img{
    width: 40px; 
    margin-right: 10px;
}

.blog__container-news > p {
    font-size: 10px;
    color: #c0c0c0;
    background-color: #ffffff;
    padding-left: 50px;
}