.container__small-card{
    width: 600px;
    height: 156px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 20px;
    position: relative;
    background-color: #ffffff; 
    border: 1px solid red;
}

.container__small-card:hover{
    background-color: #ffffff; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.small-card__photo {
    margin-right: 20px; 
    position: relative;
    width: 156px;
    height: 156px;
}

.small-card__photo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0); 
    transition: background-color 0.3s;
}



.small-card__photo > img {
    width: 156px;
    height: 156px;
    min-width: 156px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;    
}

.small-card__title > h4 {
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 10px;
}

