
<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://images.unsplash.com/flagged/photo-1568105631375-d992b82a905b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NDYwM3wwfDF8cmFuZG9tfHx8fHx8fHx8MTY5Nzc0MjAwMXw&ixlib=rb-4.0.3&q=80&w=1080"
            cardTitle="MARCELO GALLARDO RECUSOU PROPOSTA DO SEVILLA ANTES DE DIEGO ALONSO"
            cardDescription="Meias estavam defendendo suas seleções na data Fifa, e devem viajar com a delegação para jogo contra o Cruzeiro">
        </app-big-card>
        <app-big-card 
            photoCover="https://pixabay.com/get/g2c8b4d0c35ff449c4ef1e89e9cb0a8d70e69538b745047755edc7de34dcd37b637fadbb86e1a9361363034d71c0712a3158c0741b42248fef0591098eb6d6c8b_640.jpg"
            cardTitle="MARCELO GALLARDO RECUSOU PROPOSTA DO SEVILLA ANTES DE DIEGO ALONSO"
            cardDescription="Meias estavam defendendo suas seleções na data Fifa, e devem viajar com a delegação para jogo contra o Cruzeiro">
        </app-big-card>
        
    </div>
    <div class="articles__others">
        <app-small-card 
            photoCover="https://pixabay.com/get/g4dc8510e7da23ddeb7719eae9b61ff8bd213c6000b6589b5ab28416cda6a4d1c9b10c36e317f71c582e61c00ce07084b25354f74bfeb07f6bfd9a63db059b391_640.jpg"
            subtitle="MANCHESTER CITY"
            title="O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium ">
        </app-small-card>
        <app-small-card 
            photoCover="https://pixabay.com/get/g4dc8510e7da23ddeb7719eae9b61ff8bd213c6000b6589b5ab28416cda6a4d1c9b10c36e317f71c582e61c00ce07084b25354f74bfeb07f6bfd9a63db059b391_640.jpg"
            subtitle="MANCHESTER CITY"
            title=" O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium">
        </app-small-card>
        <app-small-card 
            photoCover="https://pixabay.com/get/g4dc8510e7da23ddeb7719eae9b61ff8bd213c6000b6589b5ab28416cda6a4d1c9b10c36e317f71c582e61c00ce07084b25354f74bfeb07f6bfd9a63db059b391_640.jpg"
            subtitle="MANCHESTER CITY"
            title="O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium O City of Manchester Stadium, oficialmente conhecido como Etihad Stadium">
        </app-small-card>
    </div>
</div>
<app-footer></app-footer>
