<div class="top" ></div>
<app-menu-bar></app-menu-bar>
<div class="bottom">
</div>
    <!-- menu  
    <app-menu-title 
            imgTitle="https://fastly.picsum.photos/id/93/2000/1334.jpg?hmac=HdhcVTbAYkFCXsu1qBRWeEPiy05Qjc3LbnMWJlfEFjo" 
            title="Explorando a Beleza da Jornada: Descubra a Magia das Passagens">
    </app-menu-title>
    -->
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card>
            </app-big-card>
        </div>
        <div class="articles__others">
            <div class="scroll">
                <div class="anuncio">
                </div>
                <div class="title__others">
                    <div id="icone"></div>
                    <p>ULTIMAS<br><span>NOTICIAS</span></p>
                  </div>
                <app-small-card 
                    photoCover=""
                    subtitle=""
                    title="">
                </app-small-card>          
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 250px; background-color: #F7F7F7;">
    </div>
    <app-medium-card>
    </app-medium-card>
    
<app-footer></app-footer>
