.container__articles {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles__others {
  height: fit-content;
  margin-left: 10px;
  min-width: 650px;
}

.anuncio {
  height: 400px;
  width: 600px;
  margin-left: 10px;
  background-color: #f7f7f7;
  margin-bottom: 50px;
}



.scroll {
  overflow-y: auto;
  height: 850px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.top,
.bottom {
  width: 100%;
}

.title__others {
  width: 100%;
  height: 70px;
  margin-left: 20px;
  display: flex;
  margin-bottom: 32px;
}

.title__others > p {
  margin-left: 18px;
  font-size: 20px;
  color: var(--cor-texto);
}

.title__others > p > span {
  font-weight: 800;
  font-size: 32px;
  color: var(--cor-titulo);
}

#icone {
  height: 100%;
  width: 20px;
  background-color: var(--cor-detalhe);
}

#divisao {
  width: 100%;
  height: 250px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .articles__others {
    height: fit-content;
    margin-left: 10px;
    min-width: 390px;
  }

  .anuncio {
    height: 350px;
    width: 390px;
    margin-left: 10px;
  }

  .scroll {
    overflow-y: auto;
    height: 650px;
  }

  #divisao {
    height: 150px;
    background-color: #F7F7F7;
  }
}

@media screen and (max-width: 800px) {
  .articles__others {
    display: none;
  }

  #divisao {
    height: 150px;
    background-color: #f7f7f7;
  }
}

@media screen and (max-width: 400px) {
  .container__articles {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
  }

  .articles__others,
  #divisao {
    display: none;
  }

  .top,
  .bottom {
    width: 100%;
    height: 70px;
   
  }
}
