
<app-menu-bar></app-menu-bar>

    <app-menu-title 
            imgTitle="https://fastly.picsum.photos/id/93/2000/1334.jpg?hmac=HdhcVTbAYkFCXsu1qBRWeEPiy05Qjc3LbnMWJlfEFjo" 
            title="Explorando a Beleza da Jornada: Descubra a Magia das Passagens">
    </app-menu-title>

    <div class="container__articles">
        <div class="articles__main">
            <app-big-card 
                photoCover="https://fastly.picsum.photos/id/17/2500/1667.jpg?hmac=HD-JrnNUZjFiP2UZQvWcKrgLoC_pc_ouUSWv8kHsJJY"
                cardTitle="Explorando as Maravilhas da Natureza: Uma Aventura na Selva Tropical"
                cardDescription="   Embarque em uma emocionante aventura na selva tropical e explore a rica biodiversidade, 
                                    paisagens deslumbrantes e culturas indígenas únicas. Uma jornada inesquecível aguarda os aventureiros 
                                    destemidos">
            </app-big-card>

        <app-big-card 
                photoCover="https://fastly.picsum.photos/id/17/2500/1667.jpg?hmac=HD-JrnNUZjFiP2UZQvWcKrgLoC_pc_ouUSWv8kHsJJY"
                cardTitle="Explorando as Maravilhas da Natureza: Uma Aventura na Selva Tropical"
                cardDescription="   Embarque em uma emocionante aventura na selva tropical e explore a rica biodiversidade, 
                                    paisagens deslumbrantes e culturas indígenas únicas. Uma jornada inesquecível aguarda os aventureiros 
                                    destemidos">
            </app-big-card>
        
        </div>
        <div class="articles__others">
            <div class="scroll">
                <app-small-card 
                    photoCover="https://fastly.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8"
                    subtitle="GRAMA"
                    title="Desvendando os Segredos da Grama: A Verdade Sobre o Tapete Verde">
                </app-small-card>
                <app-small-card 
                    photoCover="https://fastly.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8"
                    subtitle="GRAMA"
                    title="Desvendando os Segredos da Grama: A Verdade Sobre o Tapete Verde">
                </app-small-card>
                <app-small-card 
                    photoCover="https://fastly.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8"
                    subtitle="GRAMA"
                    title="Desvendando os Segredos da Grama: A Verdade Sobre o Tapete Verde">
                </app-small-card>
                
        </div>
        </div>
    </div>
<app-footer></app-footer>
