/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #212530;
    font-family:  'Barlow', sans-serif;
}

:root{
    --cor-primaria: #fff;
    --cor-detalhe: #1A73E8;
    --cor-titulo:#202147;
    --cor-texto: #5F6368;
    --cor-borda:#dbdbdb;
    
}

a{
    text-decoration: none;
}


 @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para telas com largura entre 768px e 1023px */
    
    
}


@media screen and (max-width: 800px) {
    /* Estilos para telas com largura máxima de 767px */
    
}


@media screen and (max-width: 400px) {
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #212530;
        font-family:  'Barlow', sans-serif;
        max-width: 380px;
    }


   
  }

 
