.container__blogs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blog__body {
  display: flex;
  width: 65%;
  margin-left: 300px;
  margin-top: 32px;
}
.blog__container-others {
  height: 100%;
  width: 25%;
  margin-top: 20px;
  margin-left: 38px;
}

.top{
  width: 100%;
  height: 50px;
  background-color: var(--cor-detalhe); 
}

.title__others{
  width: 100%;
  height: 70px;
  margin-left: 9px;
  display: flex;
}

.title__others > p{
  margin-left: 12px;
  font-size: 20px;
  color: var(--cor-texto);
}

.title__others > p > span{
  font-weight: 800;
  font-size: 32px;
  color: var(--cor-titulo);
  
}

#icone{
  height: 100%;
  width: 20px;
  background-color: var(--cor-detalhe);
}

.blog__section-title {
  height: 100px;
  background-color: var(--cinza-claro);
  display: flex;
  align-items: center;
  padding-left: 300px;
}

.blog__section-title > h1 {
  display: inline;
  background-color: var(--cinza-claro);
  color: var(--cor-secundaria);
  margin-left: 12px;
  font-size: 32px;
  padding: 0;
  color: var(--cor-primaria);
}

.icon-title {
  width: 18px;
  height: 28px;
  background-color: var(--cor-primaria);
  font-weight: 800;
}