<app-menu-bar></app-menu-bar>
<div class="container__blogs">
  <div class="blog__section-title">
    <span class="icon-title"></span>
    <h1>Blogs</h1>
  </div>
  <div class="blog__body">
    <div class="blog__card-news">
      <app-card-news title="" author="" data=""> </app-card-news>
    </div>
    <div class="blog__container-others">
      <app-card-others
        photo="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY"
        title="FLOR"
        description="Uma flor rosa e linda"
      >
      </app-card-others>
      <app-card-others
        photo="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY"
        title="FLOR"
        description="Uma flor rosa e linda"
      >
      </app-card-others>
      <app-card-others
        photo="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY"
        title="FLOR"
        description="Uma flor rosa e linda"
      >
      </app-card-others>
      <app-card-others
        photo="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY"
        title="FLOR"
        description="Uma flor rosa e linda"
      >
      </app-card-others>
      <app-card-others
        photo="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY"
        title="FLOR"
        description="Uma flor rosa e linda"
      >
      </app-card-others>
    </div>
  </div>
</div>
<app-footer></app-footer>
