<app-menu-bar></app-menu-bar>
<div class="container__blogs">
     <div class="blog__section-title">
        <span class="icon-title"></span>
        <h1>Blogs</h1>
     </div>
     <div class="blog__body">
        <div class="blog__card-news">
        <app-card-news></app-card-news>
        <app-card-news></app-card-news>
        <app-card-news></app-card-news>
        <app-card-news></app-card-news>
        <app-card-news></app-card-news>
        
    </div>
        <div class="blog__container-others">
            <app-card-others></app-card-others>
            <app-card-others></app-card-others>
            <app-card-others></app-card-others>
            <app-card-others></app-card-others>
            <app-card-others></app-card-others>
        </div>
    </div>
     
</div>
